<div class="jumbotron">
    <h1>I'm having a bad, bad day.</h1>
    <p class="lead">It's about time that I get my way.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Freeze ray! &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Supervillains</h2>
        <p >Supervillains are, like super. And villains. And stuff.</p>
        <p>Watch out for the freeze ray!</p>
        <p><a class="btn btn-default" href="/api/v1/SuperVillain">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Minions</h2>
        <p>Minions are small. And yellow. And oh, so cute!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div>
        <p style="text-align: right">
            &quot;Despicable Me&quot;Pharrell Williams
        </p>
    </div>
</div>
